* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body{
  /* background-color: #8bc6ec; */
  background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background: #000000;
  padding: 25px;
  width: 350px;
  border-radius: 10px;
}

.calculator-text {
  margin-bottom:  20px;
  padding-left: 5px ;
}

.calculator-text p {
  width: 100%;
  font-size: 3.5rem;
  text-align: end;
  background: transparent;
  color: #fff;
  border: none;
  outline: none;
  word-wrap: break-word;
  word-break: break-all;
}

/* button style */
button {
  background: #333333;
  color: #fff;
  font-size: 1.5rem;
  border: none;
  border-radius: 70%;
  cursor: pointer;
  height: 65px;
  width: 65px;
}

button:active,
button:focus {
  filter: brightness(120%);
}
.calculator-keys{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap:15px ;
  grid-column-gap: 10px ;
}

.key-zero {
  grid-column: span 2 ;
  width: 100%;
  border-radius: 30px;
}

.key-operate {
  background: #ff9501;
}

.key-others {
  background: #a6a6a6;
  color: #000000;
}
/* title */
.title {
  color:#333;
  font-size: 25px;
  display: flex;
  justify-content: center;
}


/* hero section */
.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
  text-align: center;
}

.title h1 {
  font-size: 4rem;
  font-weight: bold;
  margin: 0;
}

.title p {
  font-size: 1.5rem;
  margin-top: 10px;
}